# Dicionários (dict)

São estruturas de dados similares a listas, mas não são ordenados.

Sua estrutura é composta por `chave` : `valor` ou `key` : `value`

Enquianto o delimitador das listas são os colchetes, dos dicionários são as chaves.

In [1]:
# relembrando as listas
notas = [8.5, 7.2, 8.0, 9.5, 4.5, 5.5]
notas

[8.5, 7.2, 8.0, 9.5, 4.5, 5.5]

In [2]:
print('Média: ', sum(notas)/len(notas))

Média:  7.2

In [3]:
print('Menor nota: ', min(notas))
print('Maior nota: ', max(notas))

Menor nota:  4.5
Maior nota:  9.5

In [ ]:
# Quais notas são "cheias"?
notas = [8.5, 7.2, 8.0, 9.5, 4.5, 5.5, 10.0, 7.0, 6.9]
for nota in notas:
  if nota == int(nota):
    print(nota)

In [11]:
# Dicionários
# Declaração

aluno = {
    'ra' : '123',
    'nome': 'Edson Melo',
    'formacao' : 'Ciências da Computação',
    'idade': 50
}
print(aluno)

{'ra': '123', 'nome': 'Edson Melo', 'formacao': 'Ciências da Computação', 'idade': 50}

In [12]:
# Acessando dados de um dicionário
print('RA: ', aluno['ra'])
print('Nome:', aluno['nome'])
print('Idade:', aluno['idade'])

RA:  123
Nome: Edson Melo
Idade: 50

In [13]:
# Acessar via .get()
print('RA: ', aluno.get('ra'))
print('Nome: ', aluno.get('nome'))

RA:  123
Nome:  Edson Melo

In [18]:
# Percorrer um dicionário
# É mais usual utilizar a expressão iterar em um dicionário/lista
# Chamado de iterate
# Vamos iterar com base nas chaves

chaves = aluno.keys() # pega todas as chaves do dicionário
print(chaves)

for chave in chaves:
  print(chave, aluno[chave])

dict_keys(['ra', 'nome', 'formacao', 'idade'])
ra 123
nome Edson Melo
formacao Ciências da Computação
idade 50

In [19]:
chaves = aluno.keys() # pega todas as chaves do dicionário
for chave in chaves:
  print(chave, aluno.get(chave))

ra 123
nome Edson Melo
formacao Ciências da Computação
idade 50

In [20]:
# Forma Pytônica
# Iteração direta no dicionário
for key, value in aluno.items():
  print(key, value)

ra 123
nome Edson Melo
formacao Ciências da Computação
idade 50

# Operações com Dicionários

* Inclusão
* Remoção
* Alteração

In [21]:
# Inclusão
# Primeira forma
aluno['AV1'] = 7.8
print(aluno)

{'ra': '123', 'nome': 'Edson Melo', 'formacao': 'Ciências da Computação', 'idade': 50, 'AV1': 7.8}

In [22]:
# Segunda forma - método update()
# Se um valor (key) exisitr, será atualizado, senão inserido
aluno.update({'AV2' : 7.3})
print(aluno)

{'ra': '123', 'nome': 'Edson Melo', 'formacao': 'Ciências da Computação', 'idade': 50, 'AV1': 7.8, 'AV2': 7.3}

In [23]:
# Nesse caso já existe, então vai atualizar o valor da AV2
aluno.update({'AV2' : 2.4})
print(aluno)

{'ra': '123', 'nome': 'Edson Melo', 'formacao': 'Ciências da Computação', 'idade': 50, 'AV1': 7.8, 'AV2': 2.4}

In [24]:
# Treinando 1
# Atualizar as notas da AV1 para 6.6 e da AV2 para 3.1
aluno.update({'AV1': 6.6, 'AV2': 3.1})
print(aluno)

{'ra': '123', 'nome': 'Edson Melo', 'formacao': 'Ciências da Computação', 'idade': 50, 'AV1': 6.6, 'AV2': 3.1}

In [25]:
# Outro exemplo
carro = {}
carro.update({'marca': 'GM', 'ano': 2021, 'cor': 'branca'})
carro

{'ano': 2021, 'cor': 'branca', 'marca': 'GM'}

In [26]:
# Usando o input()
filme = {}

nome = input('Nome: ')
ano = int(input('Ano: '))
categoria = input('Categoria: ')

filme.update(
    {
     'nome': nome, 
     'ano': ano, 
     'categoria': categoria
     }
    )

Nome: Titanic
Ano: 2000
Categoria: Romance

In [31]:
# Usando o input()
filme = {}

chave_titulo = input('Nome: ')
titulo = input('Nome: ')

filme.update( {f"{chave_titulo}": titulo} )
filme

Nome: titulo
Nome: Titanic

In [35]:
# Treinando 2
# Criar um dicionário com as seguintes entradas: id, nome, email
# Mostrar na saída apenas o valor da chave "id"
cliente = {}
cliente.update({'id': 111, 'nome': 'Fábio', 'email': 'fabio@gmail.com'})

print('ID: ', cliente['id'])
print('ID: ', cliente.get('id'))

ID:  111
ID:  111

In [36]:
cadastro = {'id' : '777', 'nome' : 'Saulo', 'email' : 'saulo@gmail.com'}
print('ID: ', cadastro.get('id'))

ID:  777

In [48]:
usuario = {}
usuario.update({'id': '123',
                'nome' : 'Allan',
                'email':'allan@uni9.edu.com.br'})
print('Id:', usuario.get('id'))

Id: 123

In [ ]:
# Remoção de chaves e valores: del dict['key']
del aluno['ra']

In [51]:
# Pertencimento: in ou not in
'nome' in aluno

True

# Integração de Dicionários com Listas

In [60]:
dict_exemplo = {
    'id': 1, 
    'nome': 'Edson Melo', 
    'notas': [ # criação de uma lista de dicionários 
              {'Disciplina': 'Ciência de Dados', 'AV1': 3.0, 'AV2': 5.5, 'AV3': 9.2},
              {'Disciplina': 'Sistemas Operacionais','AV1': 4.0, 'AV2': 9.5, 'AV3': 6.0},
              {'Disciplina': 'Redes de Computadores','AV1': 6.0, 'AV2': 2.5, 'AV3': 9.0}
    ]
}

In [66]:
# Outro exemplo
alunos = []
alunos.append({'id': 1, 'nome': 'Edson Melo'})
alunos.append({'id': 2, 'nome': 'Tania Maria'})
print(alunos)

[{'id': 1, 'nome': 'Edson Melo'}, {'id': 2, 'nome': 'Tania Maria'}]

In [68]:
# Como iterar nesse caso?
for aluno in alunos:
  for key, value in aluno.items():
    print(key, '=>', value)
  print()

id => 1
nome => Edson Melo

id => 2
nome => Tania Maria

Utilizandos os conceitos vistos nesta aula e na aula anterior, crie um dicionário com 5 alunos que mostre:
* Maior nota
* Menor nota
* Média dos alunos

Notas: 8, 7, 6, 6, 6, 6

In [70]:
alunos = []
alunos.append({'nome': 'Aluno 01', 'curso': 'Ciências da Computação', 'AV1':8 })
alunos.append({'nome': 'Aluno 02', 'curso': 'Sistemas de Informação', 'AV1':7 })
alunos.append({'nome': 'Aluno 03', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 04', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 05', 'curso': 'Sistemas de Informação', 'AV1':6 })

In [72]:
# resolução: 8, 6, 6.6
media  = 0
notas = []

for aluno in alunos: # iteração sobre a lista
  for dado in aluno.keys(): # iteração sobre o dicionário
    if dado == 'AV1':
      media += aluno[dado]
      notas = notas + [ aluno[dado] ]

print('Notas Gerais')
print('Maior nota: ', max(notas))
print('Menor nota: ', min(notas))
print('Média.....: ', round((media/len(notas)),2))

Notas Gerais
Maior nota:  8
Menor nota:  6
Média.....:  6.6

In [74]:
# Outra resolução (Diogo)
notas = []
for aluno in alunos:
  notas.append(aluno['AV1'])

print('Notas Gerais')
print('Maior nota: ', max(notas))
print('Menor nota: ', min(notas))
print('Média.....: ', (sum(notas)/len(notas)))

Notas Gerais
Maior nota:  8
Menor nota:  6
Média.....:  6.6

In [76]:
# Terceira forma: Pytônica (compressão de listas)
notas = []

[notas.append(aluno['AV1']) for aluno in alunos]

print('Notas Gerais')
print('Maior nota: ', max(notas))
print('Menor nota: ', min(notas))
print('Média.....: ', (sum(notas)/len(notas)))

Notas Gerais
Maior nota:  8
Menor nota:  6
Média.....:  6.6