[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/storopoli/ciencia-de-dados/master?filepath=notebooks%2FAula_1_Operadores_Aritmeticos_Relacionais_e_Logicos.ipynb)
<br>
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/storopoli/ciencia-de-dados/blob/master/notebooks/Aula_1_Operadores_Aritmeticos_Relacionais_e_Logicos.ipynb)

# Operadores Aritméticos, Relacionais e Lógicos

**Objetivos**: Apresentar variáveis, operadores aritméticos, relacionais e lógicos utilizados em Python.

Documentação Python 3: https://docs.python.org/3/library/index.html

## Variáveis

Uma variável reserva espaço de memória para armazenar um certo tipo de dado e
relacionado a um nome para referenciar o seu conteúdo (nome da variável).

3 tipos básicos:
* Numérico
* Texto (String)
* Lógico (Booleano)

### Variáveis Numéricas

Podem ser de dois tipos:
* `int`: número inteiro
* `float`: número real (ponto flutuante)

In [5]:
# isto é um comentário
## este é outro comentário
x = 10 # esse é um inteiro
y = 8.9 # úm float (número real)

print(type(x)) # o comando type mostra o TIPO da variável
print(type(y))

print(x) # mostra o valor da variável
print(y)

<class 'int'>
<class 'float'>
10
8.9

### Variáveis de Texto (`string`)

Qualquer texto é uma `string`

In [8]:
universidade = 'UNINOVE'
logo = 'uni9 é 10'
professor = 'Edson Melo de Souza'

print(type(logo))
print('Número de caracteres do logo: ', len(logo)) # usando ,
print('Bem-vindo à ' + universidade +
      ', o seu professor é ' + professor) # usando +

print(x, type(x))
print(y, type(y))

<class 'str'>
Número de caracteres do logo:  9
Bem-vindo à UNINOVE, o seu professor é Edson Melo de Souza
10 <class 'int'>
8.9 <class 'float'>

### Variáveis Lógicas (`bool`)

* Verdadeiro = `True` = $1$
* Falso = `False` = $0$

In [ ]:
mortalidade = True

print(mortalidade)
print(type(mortalidade))

True
<class 'bool'>

## Leitura de Dados do Teclado

A função utilizada para efetuar a leitura de dados a partir do teclado é a função `input()`.

In [11]:
print("dados do aluno")
nome = input("informe seu nome: ")
idade = input ("informe sua idade: ")
print(nome + ", você tem", idade, "anos!!")

dados do aluno
informe seu nome: Edson
informe sua idade: 50
Edson, você tem 50 anos!!

## Operadores Aritméticos

* Soma `x + y`
* Subtração `x - y`
* Multiplicação `x * y`
* Divisão `x / y`
* Divisão desconsiderando a parte fracionária `x // y`
* Resto de uma divisão `x % y`
* Absoluto `abs(x)`
* Converter para Inteiro `int(x)`
* Converter para Real `float(x)`
* Potência `x ** y`

In [19]:
x = 10
y = 3

print('Soma: ', x + y)
print('Subtração: ', x - y)
print('Multiplicação: ', x * y)
print('Divisão: ', x / y)
print('Divisão desconsiderando a parte fracionária: ', x // y)
print('Módulo - Resto de uma divisão: ', x % y)
print('x elevado à y potência: ', x ** y)

print(abs(2))
print(abs(-2)) # abs é um número sem sinal (positivos)

x1 = "10"
y1 = "20"
print(x1 + y1) # sem a conversão, são concatenados os valores
print(int(x1) + int(y1))

Soma:  13
Subtração:  7
Multiplicação:  30
Divisão:  3.3333333333333335
Divisão desconsiderando a parte fracionária:  3
Módulo - Resto de uma divisão:  1
x elevado à y potência:  1000
2
2
1020
30

### Arredondamento, Piso e Teto

In [22]:
import math # lê-se "méfi" ou "mefe"
#import math as m 
#from math import floor, ceil

print('round: ', round(3.33)) # arredondamento
print('floor: ', math.floor(3.53789)) # arredonda para baixo
print('ceil: ', math.ceil(3.33)) # arredondamento para cima

# O round() também pode ser utilizado para determinar o 
# números de casas depois da vírgula a serem apresentados
print('round, casas: ', round(3.33156487, 3)) # 3 casas
print('round, casas: ', round(3.33156487, 2)) # 2 casas

round:  3
floor:  3
ceil:  4
round, casas:  3.332
round, casas:  3.33

In [23]:
# importa a biblioteca e dá um apelido para ela
import math as m # "as" significa apelido ou alias
print('ceil: ', m.ceil(3.33))

ceil:  4

In [24]:
# importa apenas o recurso desejado
from math import ceil
print('ceil: ', ceil(3.33))

ceil:  4

## Operadores Relacionais

Uma condição é o estabelecimento de uma relação lógica entre dois elementos. Para definir uma relação lógica é necessário usar operadores relacionais. Uma relação lógica (comparação) retorna somente os valores verdadeiro ou falso.

* Igual a: `x == y`
* Maior que: `x > y`
* Menor que: `x < y`
* Maior ou igual a: `x >= y`
* Menor ou igual a: `x <= y`
* Diferente de: `x != y`

In [25]:
x = 3
y = 4


print('Igual a: ', x == y)
print('Maior que: ', x > y)
print('Menor que: ', x < y)
print('Maior ou igual a: ', x >= y)
print('Menor ou igual a: ', x <= y)
print('Diferente de: ', x != y)

Igual a:  False
Maior que:  False
Menor que:  True
Maior ou igual a:  False
Menor ou igual a:  True
Diferente de:  True

## Operadores Lógicos
São utilizados para uma mesma tomada de decisão que necessite de mais de uma condição. Também são conhecidos como operadores booleanos. Operadores lógicos retornam somente os valores verdadeiro ou falso.

| Operador Lógico | Função    | Prioridade |
|-----------------|-----------|---------------------|
| `NOT`           | Negação   | 1                   |
| `AND`           | Conjunção | 2                   |
| `OR`            | Disjunção | 3                   |

In [26]:
x = 1
y = 3
z = 5
w = 2

print(z > w and w > y)  # False
print(z > w or w > y)   # True
print(not y + w == z)   # False
print(not 3 + 2 == 5)   # False

print(not 10 == 10)

X = 10
Y = 12
Z = 9

False
True
False
False
sim

In [31]:
# Estrutura de decisão IF

# exemplo em java, php e C/C++
# if (teste lógico){
#    TODO
#}

# No Python é mais "chique"
# Um bloco de códsigo é feito através da identação

if not 10 > 2:
    print('É verdade')
else:
    print('É nada')
    if 15 != 16:
        print('15 é diferente de 16')

print('Print após mostrar o resultado do IF')

# Operador ternário
#r = <expressao> if <condicao> else <expressao>

x = 10

print("par" if x % 2 == 0 else "ímpar")

É nada
15 é diferente de 16
Print após mostrar o resultado do IF
par

In [38]:
# Saída exclusiva
x = 1
y = 2

x+y, x-y, x, y

(3, -1, 1, 2)

## Exercícios de fixação

In [42]:
# Faça a leitura pelo teclado de três variáveis (a, b e c)
# e mostre o resultado para: a + b - c + (a * c) / a ** 2

a = int(input("Digite a: "))
b = int(input("Digite b: "))
c = int(input("Digite c: "))

print(a + b - c + (a * c) / a ** 2)

Digite a: 1
Digite b: 2
Digite c: 3
3.0

In [43]:
# Segunda forma
a = input("Digite a: ")
b = input("Digite b: ")
c = input("Digite c: ")

a = int(a)
b = int(b)
c = int(c)

print(a + b - c + (a * c) / a ** 2)

Digite a: 1
Digite b: 2
Digite c: 3
3.0

In [44]:
# Calcular a área de um cubo
lado = input("Digite o lado da face do cubo: ")
Af = int(lado) ** 2 # calculamos uma face
area_total = 6 * Af # calculamos a area total
print(area_total)

Digite o lado da face do cubo: 5
150

In [49]:
# Mostre os resultados das operações com as casas decimais determinadas:
print( round( (78 / 35), 3) )  # três (2.229)
#print(-5 / 9)               # cinco (-0.55556)
print(round( (int("122") / float("49.2")), 2))  # duas (2.48)
#print("2.334" * "2.5678")   # três (5.993)

2.229
2.48